DATABASE_URL="postgresql://test:test@localhost:5432/pcdc?schema=public"
USE_AUTH="true"
PROJECT_CONNECT_SERVICE_URL="https://uni-ooi-giga-maps-service-dev.azurewebsites.net"
DAILY_CHECK_APP_API_CODE="DAILY_CHECK_APP"
PCDC_APP_DOWNLOAD_URL="https://github.com/unicef/project-connect-daily-check-app/releases/download/v1.0.7/unicef-pdca-setup-1.0.7.exe"
SENTRY_DSN="https://your_sentry_dsn_here"
NODE_ENV="ENVIRONMENT" 
ADMIN_SECRET="admin-secret"
JWT_SECRET="jwt-secret"